 /* import font.css */

 @import url(./font.css);

 /* universal styling */
 * {
     font-family: "poppins", sans-serif;
     font-size: 15px;
 }

 .h5 {
  font-size: 17px;
  font-weight: 500;
  color: #1a1a1a;
  line-height: 18px;
  padding-top: 18px;
 }

 body {
    background-color: #ffffff;
    overflow-x: hidden;
  }
  @media (min-width: 991.98px) {
    main {
      padding-left: 240px;
    }
  }

  ::-webkit-scrollbar {
    background-color: #fffafa;
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background-image:  linear-gradient(to right, #b3b1cb, #75757c);
  }

  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    border-radius: 12px;
  }

  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

  .bato {
    width: 102px;
  }

  .sec-btn {
    background-color: #4361ee;
    color: #fbfbfb;
    outline: none;
    border: none;
  }

  .sec-btn:hover {
    color: #fbfbfb;
  }
  /* navbar */
  /* .navbaro {
    border-bottom: 1px solid #ccc;
  } */

  .nav-search {
    position: relative;
  }

  .nav-search input {
    border-radius: 0;
    border: none;
    outline: none;
    height: 45px;
    min-width: 225px;
    width: 300px;
  }

  .nav-search span {
    left: 15px;
    top: 23%;
  }
  
  .main-head {
    position: relative;
  }

  .main-head .navbar {
    background-color: #007E33;

  }

  .main-head .navbar .menon {
    width: 350px;
  }

  .main-head .navbar .navbar-collapse ul .dropdown .nav-link {
   color: #fbfbfb;
   font-size: 15px;
   transition: color .6s ease-in-out;
  }

  .main-head .navbar .navbar-collapse ul .dropdown .nav-link:hover {
    color: black;
  }

  
  /* login page style */
  .eye {
    cursor: pointer;
    right: 9px;
    top: 24%;
    border: none;
    background-color: #fff;
  }


  /* index page styling */

  .heada {
    min-height: 70vh;
    background: #007E33;  /* fallback for old browsers */
    background-color: #007E33;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .heada .conta {
    top: 20%;
    left: 20%;
    max-width: 100%;
  }

  .heada .conta .h3 {
    width: 80%;
  }

  .heada .conta .formo {
    width: 80%;
  }

  .heada .conta .formo .searcho .sercho {
    left: 18px;
    color: #b4b4b4;
    bottom: 27%;
  }

  .heada .conta .searcho input {
    height: 60px;
    border: none;
    background-color: #ffffff;
    border-radius: 0;
    outline: none;
    width: 369px;

  }

  .heada .conta .contlink {
    position: relative;
  }

  .heada .conta .contlink a:hover {
    background: #0b6a3c;
    transition: all .2s ease;
  }

  .card-bac {
    background: #0f0c29;  /* fallback for old browsers */
    background-color: #007E33;

  }

  .banner-two .colot {
    background-color: #007E33;
    border-radius: 6px;
    transition: background-image 1.5s ease-in;
  }

  .banner-two .colot:hover {
    background: #0b6a3c;
    transition: .2s ease;
  }
  .banner-two .linka {
    color: #fafafa;
  }

  /* client dashboard page */
  .posto {
    border: 1px solid rgb(226, 226, 226);
    border-radius: 12px;
  }

  .batona {
    border: 1px solid #007E33;
    color: #007E33;
  }

  .batona:hover {
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #007E33;
  }

  .taba {
    color: #1a1a1a;
    font-size: 14px;
    font-weight: bold;
  }

  .taba:hover {
    color: #007E33;
  }

  /* messages page */
  .colombo {
   overflow-y: scroll;
   max-height: 75vh;
  }

  .colombo::-webkit-scrollbar {
    width: 10px;
  }

  .colombo::-webkit-scrollbar-track {
    background-color: white;
  }

  .colombo::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .meno {
    background-image: linear-gradient(to right, #2193b0, #6dd5ed);
  }

  /* post job page */
  .form-step {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 3rem;
}
.font-normal {
    font-weight: normal;
}
ul.form-stepper {
    counter-reset: section;
    margin-bottom: 3rem;
}
ul.form-stepper .form-stepper-circle {
    position: relative;
}
ul.form-stepper .form-stepper-circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.form-stepper-horizontal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
ul.form-stepper > li:not(:last-of-type) {
    margin-bottom: 0.625rem;
    -webkit-transition: margin-bottom 0.4s;
    -o-transition: margin-bottom 0.4s;
    transition: margin-bottom 0.4s;
}
.form-stepper-horizontal > li:not(:last-of-type) {
    margin-bottom: 0 !important;
}
.form-stepper-horizontal li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.form-stepper-horizontal li:not(:last-child):after {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    content: "";
    top: 32%;
}
.form-stepper-horizontal li:after {
    background-color: #dee2e6;
}
.form-stepper-horizontal li.form-stepper-completed:after {
    background-color: #4da3ff;
}
.form-stepper-horizontal li:last-child {
    flex: unset;
}
ul.form-stepper li a .form-stepper-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 0;
    line-height: 1.7rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
}
.form-stepper .form-stepper-active .form-stepper-circle {
    background-color: #4361ee !important;
    color: #fff;
}
.form-stepper .form-stepper-active .label {
    color: #4361ee !important;
}
.form-stepper .form-stepper-active .form-stepper-circle:hover {
    background-color: #4361ee !important;
    color: #fff !important;
}
.form-stepper .form-stepper-unfinished .form-stepper-circle {
    background-color: #f8f7ff;
}
.form-stepper .form-stepper-completed .form-stepper-circle {
    background-color: #0e9594 !important;
    color: #fff;
}
.form-stepper .form-stepper-completed .label {
    color: #0e9594 !important;
}
.form-stepper .form-stepper-completed .form-stepper-circle:hover {
    background-color: #0e9594 !important;
    color: #fff !important;
}
.form-stepper .form-stepper-active span.text-muted {
    color: #fff !important;
}
.form-stepper .form-stepper-completed span.text-muted {
    color: #fff !important;
}
.form-stepper .label {
    font-size: 1rem;
    margin-top: 0.5rem;
}
.form-stepper a {
    cursor: default;
}

.chip {
  display: inline-block;
  cursor: pointer;
  padding: 0 9px;
  height: 42px;
  font-size: 15px;
  line-height: 35px;
  border-radius: 25px;
}

.closebtn {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: #000;
}

.multi-step-form-container {
  position: relative;
}

.multi-step-form-container ul li a {
  text-decoration: none;
}

.form-step label {
  font-size: 17px;
  margin-bottom: 9px;
  display: block;
  font-weight: normal;
}

.form-step input {
  display: block;
  margin-bottom: 9px;
  width: 450px;
  height: 40px;
  border: 1px solid rgb(148, 148, 148);
  border-radius: 4px;
  outline: none;
  padding: 6px;
}

.form-step input::placeholder {
  font-size: 14px;
  color: rgb(149, 149, 149);
}

.form-step select {
  display: block;
  margin-bottom: 9px;
  width: 450px;
  height: 40px;
  border: 1px solid rgb(148, 148, 148);
  border-radius: 4px;
  outline: none;
  padding: 6px;
}

.form-step textarea {
  padding: 6px;
}

.form-step textarea::placeholder {
  font-size: 14px;
  color: rgb(149, 149, 149);
}

.form-step .searcho {
  position: relative;
}

.form-step .searcho input {
  border-radius: 0;
  display: inline;
}

.form-step .searcho button {
  height: 40px;
  display: inline;
}

/* footer section styling */
footer {
  position: relative;
}

footer .h5 {
  font-weight: 600;
  color: #ffffff;
  font-size: 17px;
}

footer .line-green {
  height: 2px;
  background-color: #007E33;
  width: 36px;
}

footer p, footer a {
  font-size: 14px;
  color: #fbfbfb;
}

.links:hover {
  color: #0b6a3c;
}

/* ticket page styling */
.ticket-container a:hover {
  background-color: #ffffff;
  scale: 1.01;
  transition: all .1s ease-out;
}

.ticket-container a:hover > span {
  color: #4361ee;
  font-weight: 500;
}
.ticket-container a p {
  text-transform: none;
  font-size: 14px;
}